#zentog {
  display: none !important;
}

.round__app .user-link,
.game__meta__players .user-link {
  display: none;
}

main.tour .rating {
  display: none;
}

body::-webkit-scrollbar {
    display: none;
}
